
<ion-content>
  <ion-card   style="text-align: center;">

     

    <h4 style="color:#860d0d"> Profile Information</h4>
 
    <ion-row><ion-col class="headlabel1" >User Name</ion-col><span class="labelspanh">:</span><ion-col class="headlabel"> <i></i>  </ion-col></ion-row>-->  
      <ion-row><ion-col class="childlabel1" >Email </ion-col><span class="labelspan">:</span><ion-col class="childlabel"> <i></i>  </ion-col></ion-row>
      <ion-row><ion-col class="headlabel1" >Phone </ion-col><span class="labelspanh">:</span><ion-col class="headlabel"> <i></i>  </ion-col></ion-row>
      <ion-row><ion-col class="childlabel1">Address </ion-col><span class="labelspan">:</span><ion-col class="childlabel"> <i></i>  </ion-col></ion-row>
    </ion-card>          
</ion-content>


