<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
   <br>
  <form >
    <ion-item class="inputbox">
    <ion-label position="floating" >Email</ion-label>
    <ion-input placeholder="Email" type="text" ></ion-input>
   
    </ion-item>

    <ion-item class="inputbox">
    <ion-label position="floating">Password</ion-label>
    <ion-input placeholder="Password" type="text"></ion-input>
    </ion-item>

    <ion-item class="inputbox">
    <ion-label position="floating">Address</ion-label>
    <ion-input placeholder="Address" type="text"></ion-input>
    </ion-item>
    <ion-item class="inputbox">
    <ion-label position="floating">Contact</ion-label>
    <ion-input placeholder="Contact" type="text"></ion-input>
    </ion-item>

    <ion-item class="inputbox">
    <ion-label position="floating">Hobby</ion-label>
    <ion-input placeholder="Hobby" type="text"></ion-input>
    </ion-item>
   
  
  </form>
 
</ion-content>




